<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siyueli.platform.activity.service.mapper.customform.CustomFormMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.siyueli.platform.activity.common.entity.customform.CustomForm">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="category_id" property="categoryId" />
        <result column="update_at" property="updateAt" />
        <result column="create_at" property="createAt" />
    </resultMap>

    <resultMap id="searchResultMap" extends="BaseResultMap" type="com.siyueli.platform.activity.common.response.customform.CustomFormVo">
        <result column="category_name" property="categoryName" />
    </resultMap>

    <select id="search" resultMap="searchResultMap">
        SELECT cf.*, cfc.name AS category_name FROM custom_form cf
        JOIN custom_form_category cfc ON cf.category_id = cfc.id
        ORDER BY cf.id DESC
    </select>

</mapper>
