<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siyueli.platform.activity.service.mapper.customform.CustomFormFieldMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.siyueli.platform.activity.common.entity.customform.CustomFormField">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="field_name" property="fieldName" />
        <result column="validate_regular" property="validateRegular" />
        <result column="update_at" property="updateAt" />
        <result column="create_at" property="createAt" />
    </resultMap>

</mapper>
